
h1{
  text-align: center;
  font-family: inherit;
  font-size: 60px;
}
p{
  text-align: center;
  font-family: inherit;
  font-size: 35px;
}

h2{
  text-align: center;
  font-family: inherit;
  font-size: 60px;
}
a{

	font-size:30px;
}